<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Team 1.</th>
      <th scope="col">Team 2.</th>
      <th scope="col">Score 1.</th>
      <th scope="col">Score 2.</th>
    </tr>
  </thead>
  <tbody>

    {{day}}
    <tr>
      <td>{{day}}</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
