body {}

table th:hover {
  cursor: pointer;
}

table {
  box-shadow: 10px 20px 20px grey;
  background: linear-gradient(to right, blue, rgb(51, 51, 114), rgb(131, 131, 189), rgb(51, 51, 114), blue);
}

table input:focus {
  color: black;
}

tbody td:last-child {
  width: 200px;
}
