<h1>Chocolate selection</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 basic-card" *ngFor="let csoki of csokik">
      <div class="card bg-light mb-3" style="width: 18rem;">
        <img class="card-img-top" [src]="csoki.product.image_front_small_url" alt="Termék kép">
        <div class="card-body">
          <h5 class="card-title">Termék neve</h5>
          <p class="card-text">Termékismertető.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Név: {{ csoki.product.product_name }}</li>
          <li class="list-group-item">Termék kategória</li>
        </ul>
        <div class="card-body btn-group">
          <button class="btn btn-success" (click)="updateCard(product)">Update</button>
          <button class="btn btn-danger" (click)="deleteCard(product)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
