table {
  background: linear-gradient(to right, green, white, red);
  color: white;
}

th {
  cursor: pointer;
}

th:hover {
  color: black;
}

.form-control {
  background: grey;
  font-weight: bold;
  color: white;
  border: none;
}

table input:hover {
  cursor: pointer;
}

table input:focus {
  cursor: pointer;
  background: yellow;
  color: black;
}
