<table class="table table-striped" *ngIf="tableOrDetails">
  <thead>
    <th>#</th>
    <th>
      <span (click)="sort('name',1)">&#708;</span>
      <span (click)="sort('name',0)">&#709;</span>
      <br> Név
    </th>
    <th>
      <span (click)="sort('made',1)">&#708;</span>
      <span (click)="sort('made',0)">&#709;</span>
      <br> Gyártó
    </th>
    <th>
      <span (click)="sort('code',1)">&#708;</span>
      <span (click)="sort('code',0)">&#709;</span>
      <br>Vonalkód
    </th>
    <th>Műveletek</th>
  </thead>
  <tbody>
    <tr *ngFor="let prod of products;index as i">
      <td>{{i+1}}</td>
      <td>{{prod.name}}</td>
      <td>{{prod.made}}</td>
      <td>{{prod.code}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-success" (click)="details(i)">Részletek</button>
          <button class="btn btn-warning" (click)="delete(i)">Törlés</button>
        </div>
      </td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <input type="text" [(ngModel)]="keres">
      </td>
      <td>
        <button class="btn btn-primary" (click)="search(i)">Keresés</button>
      </td>
    </tr>
  </tbody>

</table>
<div class="row" *ngIf="!tableOrDetails">
  <div class="col-12 btn-group">
    <button class="btn btn-danger col-6" (click)=save()>Módosítás</button>
    <button class="btn btn-primary col-6" (click)="back()">Vissza</button>
  </div>
  <div class="col-6">
    <img src="{{choosenProduct.image_front_url}}" alt="">
  </div>
  <div class="col-6">

    <label for="">Név</label>
    <input type="text" class=form-control [(ngModel)]="choosenProduct.product_name">
    <label for="">Gyártó</label>
    <input type="text" class=form-control [(ngModel)]="choosenProduct.brands">
    <h3>Részletek</h3>
    <p>Tömeg: {{choosenProduct.quantity}}</p>
    <p>Összetevők: {{choosenProduct.ingredients_text_hu}}</p>
    <pre>{{choosenProduct.nutriments | json}}</pre>
  </div>
</div>
