<div class="jumbotron">
  <h1 class="display-4">English Premier League</h1>
  <p class="lead">2016/17</p>
  <div class="row">
    <div class="col-12 col-md-4">
      <table class="table table-hover">
        <thead>
          <tr class="myHead">
            <th scope="col">Rounds</th>
          </tr>
        </thead>
        <tbody>
          <select class="custom-select" size="10">
            <option selected>Choose a Matchday!</option>
            <option value="{{day}}" *ngFor="let day of rounds" (click)="showMatchday(day)">{{day.name}}</option>
          </select>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-8">

      <app-selected-match [day]="day"></app-selected-match>

    </div>
  </div>
</div>
