<h1>
  Tomi időjárásoldala
</h1>

<div class="wheaterInCities">
  <table class="table">
    <!--csak akkor jelenik meg ha a beírt paraméter egyezik a lekért várossal-->
    <thead>
      <tr>
        <th>{{city0.name}}</th>
        <th>{{city1.name}}</th>
        <th>{{city2.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{roundFun(city0.main.temp-273.15)}} °C</td>
        <td> {{roundFun(city1.main.temp-273.15)}} °C</td>
        <td> {{roundFun(city2.main.temp-273.15)}} °C</td>
      </tr>

    </tbody>
  </table>
</div>

<div class="container">
  <form>
    <div class="form-group">
      <label>Időjárás kereső város szerint</label>
      <input class="form-control" value="Budapest" type="text" [(ngModel)]="city" name="cityQuery">
    </div>
    <select class="form-control" name="selectCountry" [(ngModel)]="country">
      <option value="hu">Magyarország</option>
      <option value="us">Egyesült Államok</option>
      <option value="de">Németország</option>
    </select>
    <br>
    <button class="btn btn-primary btn-block" (click)="writeWheatherData()">Keres</button>

  </form>

  <table class="table" *ngIf="(weatherData.name|lowercase)==(city|lowercase)">
    <!--csak akkor jelenik meg ha a beírt paraméter egyezik a lekért várossal-->
    <thead>
      <tr>
        <th colspan="2">{{weatherData.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Páratartalom</td>
        <td>{{weatherData.main.humidity}} rel.%</td>
      </tr>
      <tr>
        <td>Légnyomás </td>
        <td>{{roundFun(weatherData.main.pressure)}} mBar</td>
      </tr>
      <tr>
        <td>Hőmérséklet</td>
        <td> {{roundFun(weatherData.main.temp-273.15)}} °C</td>
      </tr>

    </tbody>
  </table>

</div>
