#mainContainer>.row {
  padding: 50px 0;
}

#sziliBtn {
  margin: 10px;
}

#szili {
  height: 150px;
  width: auto;
  margin-top: 10px;
}

#szili:hover {
  height: 150px;
  width: auto;
  margin-top: 10px;
  filter: blur(2px)
}
